name: Linux

on:
  push:
    branches: [ master, ts ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04
    env:
      DBFARM: dbfarm

    strategy:
      matrix:
        node: ['10', '12', '14', '16', '18', '20']

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Install MonetDB
        run: |
            sudo apt-get update -qq
            sudo apt-get install -y software-properties-common curl make
            curl https://www.monetdb.org/downloads/MonetDB-GPG-KEY | sudo apt-key add -
            sudo add-apt-repository 'deb http://dev.monetdb.org/downloads/deb/ focal monetdb'
            sudo apt-get update -qq
            sudo apt-get install -y monetdb5-server
      - name: create database
        run: |
            monetdbd create ${{ env.DBFARM }}
            monetdbd start ${{ env.DBFARM }}
            monetdb create test
            monetdb release test
            monetdb start test
      - name: Run Unit-Tests
        run: |
            npm t

